/* Color de fondo dependiendo el tipo */

/* .water {
  background-color: rgba(104, 152, 247, 0.9);
  border: 5px solid rgb(104, 152, 247);
}

.grass {
  background-color: rgba(144, 232, 128, 0.9);
  border: 5px solid rgb(144, 232, 128);
}

.poison {
  background-color: rgba(224, 144, 248, 0.9);
  border: 5px solid rgb(224, 144, 248);
}

.fire {
  background-color: rgba(248, 144, 48, 0.9);
  border: 5px solid rgb(248, 144, 48);
}

.bug {
  background-color: rgba(160, 200, 136, 0.9);
  border: 5px solid rgb(160, 200, 136);
}

.dragon {
  background: linear-gradient(
    180deg,
    rgba(104, 152, 248, 0.9) 50%,
    rgba(248, 112, 112, 0.9) 50%
  );
  border: 5px solid rgb(248, 112, 112);
}

.flying {
  background: linear-gradient(
    180deg,
    rgba(88, 200, 240, 0.9) 50%,
    rgba(184, 184, 168, 0.9) 50%
  );
  border: 5px solid rgb(184, 184, 168);
}

.ground {
  background: linear-gradient(
    180deg,
    rgba(224, 224, 0, 0.9) 50%,
    rgba(200, 160, 72, 0.9) 50%
  );
  border: 5px solid rgb(200, 160, 72);
}

.steel {
  background-color: rgba(184, 184, 208, 0.9);
  border: 5px solid rgb(184, 184, 208);
}

.psychic {
  background-color: rgba(248, 56, 168, 0.9);
  border: 5px solid rgb(248, 56, 168);
}

.ice {
  background-color: rgba(48, 216, 207, 0.9);
  border: 5px solid rgb(48, 216, 207);
}

.ghost {
  background-color: rgba(168, 112, 248, 0.9);
  border: 5px solid rgb(168, 112, 248);
}

.normal {
  background-color: rgba(184, 184, 168, 0.9);
  border: 5px solid rgb(184, 184, 168);
}

.rock {
  background-color: rgba(200, 160, 72, 0.9);
  border: 5px solid rgb(200, 160, 72);
}

.electric {
  background-color: rgba(224, 224, 0, 0.9);
  border: 5px solid rgb(224, 224, 0);
}

.fighting {
  background-color: rgba(248, 112, 112, 0.9);
  border: 5px solid rgb(248, 112, 112);
}

.fairy {
  background-color: rgba(255, 101, 213, 0.9);
  border: 5px solid rgb(255, 101, 213);
}

.dark {
  background-color: rgba(144, 136, 136, 0.9);
  border: 5px solid rgb(144, 136, 136);
} */
